<h1>Listing thinking_ofs</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Guessed?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @thinking_ofs.each do |thinking_of| %>
  <tr>
    <td><%= thinking_of.number %></td>
    <td><%= thinking_of.guessed %></td>
    <td><%= link_to 'Show', thinking_of %></td>
    <td><%= link_to 'Edit', edit_thinking_of_path(thinking_of) %></td>
    <td><%= link_to 'Destroy', thinking_of, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thinking of', new_thinking_of_path %>
